
div.photo{
    
    position:fixed;
    max-width: 150px;
    max-height: 150px;;
    top: 250px;
    left: 650px;
}

div.box-1{
    position:fixed;
    background-color: red;
    height: 300px;
    width: 1446px;
    

}
div.box-2{
    position:fixed;
    background-color: white;
    height: 300px;
    width: 1446px ;
    top: 33%;
}
div.box-3{

    position:fixed;
    background-color: black;
    height: 250px;
    width: 1446px ;
    top: 66%;
}
